* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#header {
  background-image: url(./images/nathan-de-fortunato-oIqe6ahVTp0-unsplash.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 0 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-top: 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-left: 2rem;
}

.container {
  color: white;
  margin-top: 140px;
  max-width: 500px;
}

span {
  width: 20px;
  font-weight: bold;
  display: inline-block;
  color: #d99830;
}
h2 {
  font-size: 50px;
}
p {
  margin-top: 1rem;
  font-size: 25px;
}

.common-btn {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 4px solid #d99830;
  border-radius: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.container button {
  margin-top: 1.5rem;
}

.next {
  position: fixed;
  font-size: 60px;
  right: 5%;
  top: 80%;
}

/*--services--*/

#service {
  padding: 100px 100px 200px 100px;
  background: #1b1b1b;
  color: white;
}
.service-info-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-info {
  margin-bottom: 100px;
  text-align: center;
  font-weight: bold;
}
.service-col {
  flex-basis: 20%;
  background: #1b1b1b;
  box-shadow: 5px 10px 18px rgb(20, 20, 20);
  border: red;
  text-align: center;
  z-index: 2;
  padding: 1rem;
}
.service-col h3 {
  text-align: center;
}

.service-col img {
  align-items: center;
  width: 100px;
}

/*--SOCIAL ICONS--*/
.social-icons {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.social-icons img {
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
}

/*--features--*/
#features {
  margin: 80px 100px;
}

.feature-items h3 {
  text-align: center;
  font-size: 25px;
}

.feature-row {
  margin: 80px auto;
  display: flex;

  justify-content: space-evenly;
}

.feature-row p {
  font-size: 15px;
}

.feature-right-col1,
.feature-left-col1,
.feature-right-col,
.feature-left-col1 {
  flex-basis: 50%;
}

.feature-left-col,
.feature-right-col {
  max-width: 350px;
}

.feature-right-col {
  text-align: right;
}

.feature-right-col1,
.feature-left-col1 {
  max-width: 350px;
}

.feature-row img {
  width: 100%;
  border-radius: 10px;
}

/*--reviews--*/
