* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #1b1b1b;
}

nav {
  background: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.nav-links {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0 1rem;
  font-size: 13px;
}
.logo h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
}
.bold {
  font-weight: bold;
}
/*--burger--*/
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(202, 199, 199);
  margin: 5px;
  transition: all 0.3s ease;
}

/*Hero Section*/
#home {
  height: 100vh;
  padding: 5rem 5rem;
  background: url(./images/xps-7ZWVnVSaafY-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#home h2 {
  color: white;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 70px;
  font-weight: bold;
  max-width: 500px;
}

.common-btn {
  background: transparent;
  border: 2px solid #d99830;
  color: rgb(243, 239, 239);
  padding: 0.8rem;
  font-weight: 500;
  font-size: 15px;
  border-radius: 0.2rem;
}
.common-btn {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid #d99830;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 1.5rem;
}

.common-btn:hover {
  color: #202020;
  background: #d99830;
  transition: 0.5s ease;
}
/*--services--*/

#service {
  padding: 5rem;
  background: #1b1b1b;
  color: white;
}
.service-info-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-btn {
  margin-top: 3rem;
  padding: 0.5rem 1.5rem;
  background: transparent;
  outline: none;
  border: 1px solid #d99830;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  color: #777474;
}

.service-btn:hover {
  color: #202020;
  background: #d99830;
  transition: 0.5s ease;
}

.service-col {
  flex-basis: 20%;
  text-align: left;
  padding: 1rem;
  border-left: 1px solid #d99830;
  flex: 1;
  margin: 15px;
  min-width: 200px;
}
.service-col h3,
p {
  text-align: left;
  font-size: 20px;
  margin-bottom: 3rem;
}
.service-col p {
  font-size: 12px;
  color: #777474;
  margin-bottom: 0.2rem;
}

/*--SOCIAL ICONS--*/
.social-icons {
  width: 100px;
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.social-icons img {
  display: block;
  width: 16px;
  margin: 0 auto 30px;
  cursor: pointer;
}
/*--reviews--*/
.testimonial-section {
  background: #1b1b1b;
  padding: 40px 0;
  height: 60vh;
  place-items: center;
}

.inner-width {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.inner-width h1 {
  color: white;
}

.testimonial-section h1 {
  text-align: center;
  font-size: 24px;
}

.border {
  width: 100px;
  height: 3px;
  background: #d99830;
  margin: 40px auto;
}

.testimonial {
  background: #f1f1f1;
  padding: 1rem;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.test-info {
  display: flex;
  height: 60px;
  align-items: center;
}

.test-pic {
  width: 50px !important;
  border-radius: 50%;
  margin-right: 15px;
}

.test-name {
  font-size: 12px;
  color: white;
}

span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #1b1b1b;
}

.testimonial p {
  font-size: 12px;
  line-height: 22px;
  margin-top: 20px;
}

/*--PRICING--*/
#pricing {
  height: 60vh;
  background: #1b1b1b;
  padding: 50px 100px 100px 100px;
}

.pricing-row,
.contact-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing-col,
.pricing-col2 {
  color: white;
}
.pricing-col,
.contact-col {
  width: 350px;
}

.ruler {
  width: 8rem;
  height: 2px;
  background: #d99830;
  margin: 2rem 0;
}
.pricing-col p {
  font-size: 15px;
  line-height: 25px;
  color: #777474;
}
.pricing-col h2 {
  line-height: 4rem;
  font-size: 50px;
}

.pricing-col button {
  border: 1px solid #d99830;
  background: transparent;
  color: #777474;
  padding: 1rem 3rem;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.pricing-col button:hover {
  color: #202020;
  background: #d99830;
  transition: 0.5s ease;
}

/*--CONTACT--*/
#contact {
  height: 60vh;
  background: #1b1b1b;
  margin-top: 8rem;
}

.contact-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-col2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  background: transparent;
  color: #d99830;
}

.contact-col2 label {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
}

.contact-col2 input {
  margin-bottom: 1rem;
  background: #202020;
  border: none;
  padding: 1rem;
  width: 350px;
}

.contact-col2 button {
  background: transparent;
  border: 1px solid #d99830;
  padding: 1rem 3rem;
  color: #777474;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.contact-col2 button:hover {
  color: #202020;
  background: #d99830;
  transition: 0.5s ease;
}

/*--FOOTER--*/
#footer {
  margin: 0px;
  padding: 0px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.footer-col img {
  width: 12px;
  height: 12px;
  margin-right: 1rem;
}

.footer-col2 li {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-left: 1rem;
}

.footer-col2 a {
  text-decoration: none;
  color: #777474;
  font-size: 12px;
}

.all-rights {
  margin: 3rem 0;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d99830;
  font-size: 12px;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 50%;
    top: 4vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    padding-bottom: 1rem;
  }
  .burger {
    display: block;
  }

  /*Javascript Animation*/
  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
@media screen and (min-width: 0px) and (max-width: 390px) {
  #home {
    background-position: unset;
    background-size: cover;
    padding: 5rem 3rem;
  }
  #home h2 {
    font-size: 40px;
  }
  .social-icons {
    display: none;
  }

  #service {
    padding: 2rem;
  }
  #testimonial {
    display: none;
  }
  #pricing,
  #contact {
    padding: 1rem 3rem 2rem;
  }
  .contact-col2 input {
    width: 300px;
  }
  .footer-row {
    display: inline-flex;
  }
}
@media screen and (min-width: 391px) and (max-width: 430px) {
  #home {
    background-position: unset;
    background-size: cover;
    padding: 5rem 3rem;
  }
  #home h2 {
    font-size: 40px;
  }
  .social-icons {
    display: none;
  }
}
@media screen and (min-width: 431px) and (max-width: 480px) {
  #home {
    background-position: unset;
    background-size: cover;
    padding: 5rem 3rem;
  }
  #home h2 {
    font-size: 45px;
  }
  .social-icons {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #home {
    background-position: unset;
    background-size: cover;
    padding: 5rem 3rem;
  }
  #home h2 {
    font-size: 50px;
  }
  .social-icons {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 979px) {
  #home {
    background-position: unset;
    background-size: cover;
    padding: 5rem 3rem;
  }
  #home h2 {
    font-size: 55px;
  }
  .social-icons {
    display: none;
  }
}
@media screen and (min-width: 980px) and (max-width: 1279px) {
  #home {
    background-position: unset;
    background-size: cover;
    padding: 5rem 3rem;
  }
  #home h2 {
    font-size: 60px;
  }
  .social-icons {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (max-width: 3000px) {
}
